<div class="container">

  <h3>Bienvenido señor concejal</h3>



  <div class="form-group">
    <br>
    <button type="button" (click)="acepto()" class="btn btn-primary">Accepto!</button>
    <br>
    <button type="button" (click)="declino()" class="btn btn-primary">Declino!</button>
    <br>
    <button type="button" (click)="Salir()" class="btn btn-primary">Desconectarse!</button>
  </div>

  <div class="col s3">
    <table class="striped highlight black-text">
  
        <th>TRABAJADORES ONLINE</th>

     
    
        <tr *ngFor="let string of listaconectados">
          <td>{{string}}</td>

        </tr>
     
      </table>
  </div>
</div>