<div class="container">

  <h3>Bienvenido señor alcalde</h3>



  <form #decretoForm="ngForm">
    <label for="usr">Mensaje:</label>
    <input type="text" [(ngModel)]="decreto" name="decreto" #titleInput class="form-control">
    <br>
    <button type="button" (click)="enviarPeticion(decretoForm)" class="btn btn-primary">Envia!</button>
    <br>
    <button type="button" (click)="salir()" class="btn btn-primary">Desconectarse!</button>
    <br>
    <button type="button" (click)="firmar()" class="btn btn-primary">Firma!</button>
  </form>


  <div class="col s3">
    <table class="striped highlight black-text">

      <th>TRABAJADORES ONLINE</th>



      <tr *ngFor="let string of conectados ">
        <td>{{string}}</td>

      </tr>

    </table>
  </div>
  <th> Introduce tu certificado:</th>
  <div class="form-group">

    <input type="file" name="image" (change)="fileProgress($event)" />
  </div>

  <div *ngIf="decretoFinal; then json">

  </div>

  <ng-template #json>
    <ngx-json-viewer [json]="decretoFinal"></ngx-json-viewer>
    <button type="button" (click)="verificar()" class="btn btn-primary">Verifica las firmas!</button>
    <button type="button" (click)="reset()" class="btn btn-primary">Reiniciar</button>

  </ng-template>
  

</div>


