
<div class="container">

<h3>Bienvenido señor alcalde</h3>



    
     <label for="usr">Mensaje:</label>
     <input type="text" #titleInput class="form-control">
     <br>
     <button type="button" (click) = "enviarPeticion()" class="btn btn-primary">Envia!</button>
     <br>
     <button type="button" (click) = "Salir()" class="btn btn-primary">Desconectarse!</button>


     <div class="col s3">
      <table class="striped highlight black-text">
    
          <th>TRABAJADORES ONLINE</th>
  
       
      
          <tr *ngFor="let string of listaconectados">
            <td>{{string}}</td>
  
          </tr>
       
        </table>
    </div>


</div>
   

  
